<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            NotePage
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="present()">
                <ion-icon slot="start" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
            {{item.name}}
        </ion-item>
        <ion-item>
            {{item.due}}
        </ion-item>
        <ion-item>
            {{item.notes}}
        </ion-item>
    </ion-list>
</ion-content>